################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UniSearchSystem/.vs/UniSearchSystem/v16/Server/sqlite3/storage.ide-wal
/UniSearchSystem/.vs/UniSearchSystem/v16/Server/sqlite3/db.lock
/UniSearchSystem/.vs/UniSearchSystem/v16/Server/sqlite3/storage.ide
/UniSearchSystem/.vs/UniSearchSystem/v16/Server/sqlite3/storage.ide-shm
/.vs/slnx.sqlite
