################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UniSearchSystem/.vs/UniSearchSystem/v16/Server/sqlite3/storage.ide-wal
